.projects {
  padding: 0;
  margin-top: 100px; }
  .projects .proj-intro {
    color: #8b8b8b; }
  .projects .proj-title {
    color: #606060;
    font-family: 'Abril Fatface'; }
  .projects .proj-desc {
    color: #606060;
    padding-top: 30px; }
  .projects a {
    text-decoration: none;
    color: #fe3325; }
  .projects .back-proj {
    font-size: 22px;
    padding-bottom: 35px; }
    .projects .back-proj a {
      text-decoration: none;
      color: #fe3325;
      font-size: 20px; }
  .projects .project-2 {
    margin-top: 100px; }

@media screen and (max-width: 768px) {
  .projects .proj-intro {
    padding-left: 10px;
    padding-right: 10px; }
  .projects .proj-title {
    padding-top: 40px; }
  .projects .back-proj a {
    padding-left: 10px; }
  .projects .project-1 {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .projects .project-2 {
    margin-right: 0 !important;
    margin-left: 0 !important; } }
