.navbar {
  margin-top: 30px; }
  .navbar .navigation {
    padding: 0; }
  .navbar .navbar-brand {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333; }
  .navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); }
  .navbar .nav-link {
    color: #333;
    text-transform: uppercase; }
  .navbar .nav-icon {
    font-size: 20px; }

.intro .hello {
  background-color: #fe3325;
  height: 500px;
  margin-top: 20px;
  padding: 0; }
  .intro .hello h1 {
    font-family: 'Abril Fatface';
    font-size: 100px;
    color: #ffffff;
    margin: 0;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); }

.intro .vuk-container {
  padding-top: 180px;
  display: none; }
  .intro .vuk-container #particles-js {
    width: 100%;
    height: 100%; }
  .intro .vuk-container h1 {
    font-family: 'Abril Fatface';
    font-size: 50px; }
    .intro .vuk-container h1 a {
      text-decoration: none;
      color: #fe3325; }
    .intro .vuk-container h1 .dot1 {
      color: #fe3325; }

@media screen and (max-width: 990px) {
  .vuk-container {
    padding-top: 70px !important; } }

html * {
  outline: 0 !important; }

body {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Montserrat', sans-serif; }
