.work-container {
  padding: 0; }
  .work-container .work-1 {
    margin-top: 100px; }
    .work-container .work-1 .img-col-1 {
      margin-top: 30px;
      position: relative;
      margin-bottom: -20px;
      margin-left: 0; }
    .work-container .work-1 .txt-col-1 {
      background-color: #fff;
      border: 1px solid  #D4D4D4;
      box-shadow: 2px 2px 1px #D4D4D4;
      width: 100% !important;
      margin-left: -50px;
      padding-right: 50px;
      height: 400px; }
      .work-container .work-1 .txt-col-1 h4 {
        text-align: left;
        padding-top: 35px;
        color: #606060;
        margin-left: 50px; }
      .work-container .work-1 .txt-col-1 .desc-text {
        width: 70%;
        text-align: left;
        margin-left: 50px;
        padding-top: 20px; }
      .work-container .work-1 .txt-col-1 a {
        margin-left: 50px;
        text-decoration: none;
        color: #fe3325; }
