
.navbar {
  margin-top: 30px;

  .navbar-brand {
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #333;      
  }

  .nav-link {
    color: #333;
    text-transform: uppercase; 
  }
}