@import 'variables';
@import 'header';
@import 'work';
@import 'projects';
@import 'footer';

* {
  margin: 0;
  padding: 0;
}
html * {
  outline: 0 !important;
}

body {
  font-family: 'Abril Fatface', cursive;
  font-family: 'Montserrat', sans-serif;
}